body{
    background-color: aquamarine;
}

#start{
    border: None;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 60px;
    background-color: red;
}