body{
    background-color: darkslategrey;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
}

#start{
    border: None;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 60px;
    background-color: chartreuse;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    margin: auto;
    padding-top: 30px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.start:hover{background-color: #3e8e41}

.start:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}

h1{
    font-size: 40px;
    font-weight: bold;
}

h2{
    font-size: 30px;
    font-weight: bold;
    color: chartreuse;
}

h3{
    font-size: 25px;
}
