<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <link rel="stylesheet" href="static/design.css">
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <script src="static/game.js" defer></script>
</head>
<body>
<div class="row">
    <div id="leftcontainer" class="drag-container">
        <div class="left" id="l1"><p>First Something</p></div>
        <div class="left" id="l2"><p>Second Something</p></div>
        <div class="left" id="l3"><p>Third Something</p></div>
        <div class="left" id="l4"><p>Fourth Something</p></div>
    </div>
    <div id="center">
        <div><span id="time">05:00</span></div>
    </div>
    <div id="rightcontainer" class="drop-container">
        <div class="right"></div>
        <div class="right"></div>
        <div class="right"></div>
        <div class="right"></div>
    </div>
</div>
</body>
</html>