<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <link rel="stylesheet" href="static/gamedesign.css">
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <script src="static/game.js" defer></script>
    <script src="static/data.js" defer></script>
</head>
<body id="container">

<template id="table">
    <div class="row">
        <div id="left-container" class="drag-container">
            <div class="left" id="l1"></div>
            <div class="left" id="l2"></div>
            <div class="left" id="l3"></div>
            <div class="left" id="l4"></div>
        </div>
        <div id="center">
            <div class="fixed"><span id="time">05:00</span></div>
        </div>
        <div id="right-container" class="drop-container">
            <button onclick="checkPlayersSolution()">Check it!</button>
            <button onclick="getTime()">Get Exact Time</button>

        </div>
    </div>
</template>
</body>
</html>
