<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="static/homedesign.css">
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Bomb Squad</h1>
    <h2>You are one of the elite members of Codecools expert code <i>connoisseurs</i>.<br> Such a fancy word.</h2>
    <h3>Now it's your turn to show what you've got, and crack the code! Malicious terrorists from Green Fox Academy captured the Web Rooms most iconic member.</h3>
    <h2>How to play</h2>
    <h3>Drag the code snippet boxes from the mixed left block to the drop box on the right in the correct order.</h3>
    <h3>When you are ready click the button to check if you were correct.</h3>
    <h3>Hurry up! The clock is ticking...</h3>
    <h2>If you fail Dani will never see Menta again...</h2>
    <p><button type="submit" id="start" onclick="location.href='http://127.0.0.1:5000/game'">Start</button></p>
</body>
</html>