<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You won</title>
    <link rel="stylesheet" href="static/windesign.css">
</head>
<body>
    <img src="../static/happywhippet.jpg" alt="menta" width="300" height="300">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dP9Wp6QVbsk?start=7" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
    <button type="submit" id="restart" onclick="location.href='http://127.0.0.1:5000/'">Save me baby one more time</button>
</body>
</html>